{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<h1>Welcome✅</h1>

		<ul>
			<li><a href="/player">Players list</a></li>
			<li><a href="/stade">stade list</a></li>
		</ul>
	</div>
{% endblock %}
